/* styles.css */

* {
  font-family: "Inter","Roboto", "Times New Roman", sans-serif;
  color: white;
  background-color: #1E1E1E;
}

a {
  text-decoration: none;
}

.icon{
  height: auto;
  width: 100px;
  
}

.title, .medium, .small {
  font-family: 'Inter', "Times New Roman", sans-serif;
  color: white;
}

.title{
  font-size: 90px;
  font-weight: bold
}

.medium{
  font-size: 40px;
}

.small{
  font-size: 30px;
}

.software{
  color: #75FCC0;

}

.vision{
  color: #E35D75;

}

.intro{
  color: white;
}

img {
  height: auto;
  width: 500px;
}

/* These are notes from odin project */
.subsection.header {
  color: red;
}

.subsection#preview {
  color: blue;
}

.ancestor .contents {
  /* some declarations */
}

